{% extends 'base.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h3>Editar información de un articulo</h3>

<p>Cambie los campos que desea editar</p>

<form action="/actualizar_articulo/{{articulo.0}}" method="POST">
    <label for="nombre">Nombre del articulo</label><br>
    <input type="text" name="nombre" placeholder="Nombre del artículo" required
    value="{{articulo.2}}"><br>

    <label for="precio">Precio del Artículo</label><br>
    <input type="text" name="precio" id="precio" placeholder="Precio" required
    value="{{articulo.3}}"><br>


    <label for="existencias">existencias</label><br>
    <input type="text" name="existencias" placeholder="Existencias" required
    value="{{articulo.4}}"><br>

    <label for="descripción">Descripcion</label><br>
    <textarea type="text" name="descripcion" id="descripción" rows="5" cols="30" required
    >{{articulo.5}}</textarea><br>

    <label for="fabrica">Fábrica</label><br>
    <select name="fabrica"><br>
        {% for fabrica in fabricas %}
        <option value="{{ fabrica.0 }}">{{ fabrica.1 }}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Actualizar artículo">
</form>

{% endblock %}