{% extends 'base.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>{{ header_title }}</h1>

{% if usuario %}
    <h2>Sesion iniciada como {{ usuario }}</h2>
    <a href="logout">Cerrar sesión</a>

    <br>
    <a href="registrar_cliente">Registrar un nuevo cliente</a>

    <br>
    <a href="registrar_fabrica">Registrar una nueva fábrica</a>

    <!-------------------------- Tabla clientes ----------------------------->
    <h4>Clientes actuales</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Dirección</td>
                <td>Saldo actual</td>
                <td>Saldo límite</td>
                <td>Descuento</td>
                <td>Opciones</td>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.0 }}</td>
                    <td>{{ cliente.1 }}</td>
                    <td>{{ cliente.2 }}</td>
                    <td>{{ cliente.3 }}</td>
                    <td>{{ cliente.4 }}</td>
                    <td>{{ cliente.5 }}</td>
                    <td>
                        <a href="/editar_cliente/{{cliente.0}}">Editar</a>
                        <a href="/eliminar_cliente/{{cliente.0}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Tabla fábricas -->
    <h4>Fábricas</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Teléfono</td>
                <td>Dirección</td>
                <td>Ciudad</td>
                <td>Opciones</td>
            </tr>
        </thead>
        <tbody>
            {% for fabrica in fabricas %}
                <tr>
                    <td>{{ fabrica.0 }}</td>
                    <td>{{ fabrica.1 }}</td>
                    <td>{{ fabrica.2 }}</td>
                    <td>{{ fabrica.3 }}</td>
                    <td>{{ fabrica.4 }}</td>
                    <td>
                        <a href="/editar_fabrica/{{fabrica.0}}">Editar</a>
                        <a href="/eliminar_fabrica/{{fabrica.0}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <h2>Por favor, inicie sesión o registrese</h2>

    <a href="login">Iniciar sesión</a> o
    <a href="registro">registrarse</a>

    <h4>Ingrese sus datos</h4>

    <form action="login" method="POST">
        <input type="text" name="user" placeholder="Nombre de usuario" required ><br>
        <input type="password" name="password" placeholder="Contraseña" required ><br>
        <input type="submit" value="Ingresar">
    </form>
{% endif %}


{% endblock %}