{% extends 'base.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<h3>Registro de Articulos</h3>

<p>Llene los campos del Articulo para completar su registro</p>

<form action="/registrar_articulo" method="POST">
    <label for="nombre">Nombre del Artículo</label><br>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre del articulo" required><br>
    
    <label for="precio">Precio del Artículo</label><br>
    <input type="text" name="precio" id="precio" placeholder="Precio" required><br>

    <label for="existencias">Existencias</label><br>
    <input type="text" name="existencias" id="existencias" placeholder="Existencias" required><br>

    <label for="descripción">Descripcion</label><br>
    <textarea type="text" name="descripcion" id="descripción" rows="5" 
    cols="30" required style="resize:none;"></textarea><br>

    <label for="fabrica">Fabrica</label><br>
    <select name="fabrica" id="fabrica">
        {% for fabrica in fabricas %}
        <option value="{{ fabrica.0 }}">{{ fabrica.1 }}</option>
        {% endfor %}
    </select>

    <br><br>
    <input type="submit" value="Registrar articulo">
</form>

{% endblock %}